.portfolio h2 {
    margin-bottom: 4rem
    ;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(3,1fr );
    align-items: center;
    gap: 2.5rem;
}
.portfolio-content .row{
position: relative;
border-radius: 2rem;
box-shadow: 0 0 1rem var(--bg-color);
overflow: hidden;
display: flex;
}
.row img {
    width: 100%;
    transition: .5s ease;
}
